/*
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*
  Global
*/

html {
  height: 100%;
}

body {
  /*margin: 10;*/
  margin: 0;
  font-family: Roboto, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.mainapp {
  min-height: 100%;
}