<div class="modeselector">
  <!--
  <mat-button-toggle-group #group="mdButtonToggleGroup" (change)="modechanged()">
    <table>
      <tr *ngFor="let mode of modes">
        <td>
          <mat-button-toggle (change)="modechanged(mode)">
            {{mode.name}}
          </mat-button-toggle>
        </td>
      </tr>
  </table>
</mat-button-toggle-group>
-->
  <button mat-raised-button [matMenuTriggerFor]="menuApplicationmodes" class="modemenu">
     <mat-icon>more_vert</mat-icon><span>{{currentAppMode.name}}</span>
  </button>
  <mat-menu #menuApplicationmodes="matMenu">
       <button mat-menu-item  *ngFor="let mode of modes" (click)="modechanged(mode)">{{mode.name}}</button>
  </mat-menu>
</div>
