.modeselector {
  position:absolute;
  top:11.0em;
  left:0.7em;
  z-index: 1;
  background-color: #FFFFFF80;
  border-radius: 0.5em;
}

.modeselectormenu {
  background-color: #FFFFFFFF;
}
