<div class="floorselector" *ngIf="selectedFloor">
  <button mat-raised-button [matMenuTriggerFor]="menufloors" class="floormenubutton">
     <mat-icon class="floormenuIcon">layers</mat-icon><span class="floormenutext">{{selectedFloor.name}}</span>
  </button>
  <mat-menu #menufloors="matMenu">
    <button mat-menu-item *ngFor="let floor of floorList" (click)="onSelect(floor)"
      [style.font-weight]="floor.fontweight"
      [style.background-color]="floor.backgroundcolor"
      class="floormenutext">{{floor.name}}</button>
  </mat-menu>
</div>
