<div class="weightcontrol" *ngIf="showControl">
  <button mat-raised-button [matMenuTriggerFor]="menuselectcontrol" class="weightcontrolIcon">
     <mat-icon class="weightcontrolIcon" [style.color]="selectedWeight.color">add_circle</mat-icon><span class="weightcontrolmenutext">{{selectedWeight.name}}</span>
  </button>
  <mat-menu #menuselectcontrol="matMenu">
    <button mat-menu-item *ngFor="let weight of weights" (click)="onSelect(weight)" class="weightcontrolmenubutton">
      <mat-icon class="weightcontrolIcon" [style.color]="weight.color">add_circle</mat-icon>
      <span class="weightcontrolmenutext">{{weight.name}}</span>
    </button>
  </mat-menu>
</div>
