<!--<app-testmap #mapComp [applicationMode]="currentAppMode"></app-testmap>
<app-routetest [mapComponentRef] = mapComp *ngIf="currentAppMode && currentAppMode.showDemoRoute"></app-routetest>
-->


<app-editablemap #mapComp [applicationMode]="currentAppMode" [currentFloor]="currentFloor"></app-editablemap>
<app-floorselector (currentFloorEvt)="floorChanged($event)"></app-floorselector>
<app-modeselector (currentAppModeEvt)="appModeChanged($event)"></app-modeselector>
<app-poiselector (currentSelectedPoiEvt)="currentPoiTypeChanged($event)" *ngIf="showPoiSelector"></app-poiselector>

<!--
<md-toolbar class = "header-toolbar">
  <span>Medcampus</span>

  <span class="app-toolbar-filler"></span>

  <app-roomsearchmd></app-roomsearchmd>

</md-toolbar>
-->
<!--
<md-toolbar>
  TestToolbar
</md-toolbar>



<md-card>
  <p>Last dialog result: {{lastDialogResult}}</p>
  <button md-icon-button (click)="openDialog()">
     <md-icon>navigation</md-icon>
  </button>
</md-card>
-->
