<!--<app-testmap #mapComp [applicationMode]="currentAppMode"></app-testmap>
<app-routetest [mapComponentRef] = mapComp *ngIf="currentAppMode && currentAppMode.showDemoRoute"></app-routetest>
-->


<app-editablemap #mapComp
  [applicationMode]="currentAppMode"
  [currentFloor]="currentFloor"
  [poiTypes]="poiTypes"
  [currentPoiType]="currentPoiType"
  [beaconEditMode]="beaconEditMode"
  [setBeaconSignals]="beaconSignals">
</app-editablemap>
<app-floorselector (currentFloorEvt)="floorChanged($event)"></app-floorselector>
<app-modeselector (currentAppModeEvt)="appModeChanged($event)"></app-modeselector>
<app-poiselector (currentSelectedPoiEvt)="currentPoiTypeChanged($event)"
                  (poiTypeReceivedEvt)="PoiTypesReceived($event)"
                  *ngIf="showPoiSelector"></app-poiselector>
<app-beaconmodeselector (currentSelectedModeEvt)="beaconEditModeChanged($event)"
                  *ngIf="showBeaconEditModeSelector"></app-beaconmodeselector>
<app-beaconconnector (updateSignalsEvent)="beaconSignalsChanged($event)">
  </app-beaconconnector>
<!--
<md-toolbar class = "header-toolbar">
  <span>Medcampus</span>

  <span class="app-toolbar-filler"></span>

  <app-roomsearchmd></app-roomsearchmd>

</md-toolbar>
-->
<!--
<md-toolbar>
  TestToolbar
</md-toolbar>



<md-card>
  <p>Last dialog result: {{lastDialogResult}}</p>
  <button md-icon-button (click)="openDialog()">
     <md-icon>navigation</md-icon>
  </button>
</md-card>
-->
