<div *ngIf="isOpened" id="sideMenuDiv">

  <section class="sideMenuHeaderSection">
    <div class="sideMenuRowContent">
      <img src="assets/HeaderLogo.jpg" alt="logo">
      <div class="poiTableHeaderSpacer"></div>
      <!--
      <button class="closeSideMenuButton" (click)="close()" mat-button>
        <mat-icon>first_page</mat-icon>
      </button>
    -->
      <p class="poiHeader">Interessante Punkte</p>
    </div>
  </section>
  <section class="sideMenuCenterSection">
    <div class="sideMenuRowContent l-scroll">
      <div class="sideMenuCenterScrollContent">
        <table class="poiTable">
          <tbody>
            <tr>
              <td colspan="3">
                <div class="poiTableRowSpacer"></div>
              </td>
            </tr>
            <ng-template ngFor let-poi [ngForOf]="pois">
                <tr *ngIf="poi.isVisible">
                  <td>
                    <mat-checkbox [(ngModel)]="poi.isActive" (change)="selectedChanged()"></mat-checkbox>
                  </td>
                  <td>
                    <!--<img class="poiIcon" src = "{{poi.icon}}" alt = "{{poi.icon}}">-->
                     <div  class="poiIcon {{poi.iconclass}}" [style.background-color] = "poi.color"> </div>
                  </td>
                  <td>
                    <span class="poiName">{{poi.name}}</span>
                  </td>
                </tr>
                <tr *ngIf="poi.isVisible">
                  <td colspan="3">
                    <div class="poiTableRowSpacer"></div>
                  </td>
                </tr>
          </ng-template>

          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="sideMenuFooterSection">
    <div class="sideMenuRowContent">
      <p class="copyright">© 2017 Medizinische Universität Graz</p>
    </div>
  </section>
</div>
<div *ngIf="isOpened" class = "clickOverlay" (click)="close()">
</div>
