
<table>
  <tr>
    <td>
      <i class="material-icons app-input-icon">search</i>
    </td>
    <td>
      <md-input-container>
        <input type="text" mdInput [formControl]="term" [mdAutocomplete]="auto">
      </md-input-container>
    </td>
  </tr>
</table>

<md-autocomplete #auto="mdAutocomplete">
   <md-option *ngFor="let room of rooms" [value]="room.name" (click)="selectRoom(room)">
      {{ room.name }}
   </md-option>
</md-autocomplete>


<!--
<i class="material-icons app-input-icon">search</i>

<md-input-container>
  <input mdInput #searchBox  placeholder="Raumsuche" class="placeholder-white" floatingPlaceholder=true [formControl]="term">
</md-input-container>

<div [hidden]="!showsuggestions">
  <div [hidden]="true">
    <button md-raised-button [mdMenuTriggerFor]="menusearch" class="floormenu">
    </button>
  </div>

  <md-menu #menusearch="mdMenu" [hidden]="!showsuggestions">
       <button md-menu-item *ngFor="let room of rooms" (click)="selectRoom(room)">{{room.name}}</button>
  </md-menu>
</div>
-->


<!--
<div class="suggestions" *ngIf="rooms.length > 0">
    <ul>
        <li *ngFor="let room of rooms">
            <a (click)="selectRoom(room)">{{room.name}}</a>
        </li>
    </ul>
</div>
-->
