<div class="dialogDiv">
  <input type="hidden" tabindex="0" autofocus/>

  <div>
    <h2>
      Beacon
    </h2>
    <input class="idInput" autocomplete="off" placeholder="Id..." matInput [formControl]="macInputVal" readonly>

    <input class="nameInput" autocomplete="off" placeholder="Name..." matInput [formControl]="nameInputVal">

    <input class="batteryOutput" autocomplete="off" placeholder="battery..." matInput [formControl]="batteryOutputVal" readonly>

  </div>

  <div class='navigateDiv'>
    <button class='ScanButton' (click)="scan()" mat-button>
      <span>Scan...</span>
    </button>
  </div>

  <table class="controlButtonTable">
    <tr>
      <td>
        <button class='NavigateButton' (click)="closeDialog()" mat-button>
          <span>Cancel</span>
        </button>
      </td>
      <td >
        <div class='ControlButtonSpacer'>
        </div>
      </td>
      <td>
        <button class='NavigateButton' (click)="save()" [disabled]="okButtonDisabled" mat-button>
          <span>Ok</span>
        </button>
      </td>
    </tr>
  </table>

  <button class='closeDialogButton' (click)="closeDialog()" mat-button>
    <mat-icon>close</mat-icon>
  </button>
</div>
