<div class="dialogDiv">
  <input type="hidden" tabindex="0" autofocus/>

  <div>
    <h2>
      Beacon
    </h2>
    <input class="idInput" autocomplete="off" placeholder="Id..." mdInput [formControl]="macInputVal">

    <input class="nameInput" autocomplete="off" placeholder="Name..." mdInput [formControl]="nameInputVal">

  </div>

  <div class='navigateDiv'>
    <button class='ScanButton' (click)="scan()" md-button>
      <span>Scan...</span>
    </button>
  </div>

  <table class="controlButtonTable">
    <tr>
      <td>
        <button class='NavigateButton' (click)="closeDialog()" md-button>
          <span>Cancel</span>
        </button>
      </td>
      <td >
        <div class='ControlButtonSpacer'>
        </div>
      </td>
      <td>
        <button class='NavigateButton' (click)="save()" [disabled]="okButtonDisabled" md-button>
          <span>Ok</span>
        </button>
      </td>
    </tr>
  </table>

  <button class='closeDialogButton' (click)="closeDialog()" md-button>
    <md-icon>close</md-icon>
  </button>
</div>
