.dialogDiv {
  position: relative;
}

.closeDialogButton {
  position: absolute;
  top: -42px;
  right: -22px;
  padding: 0 0;
  min-width: 3em;
  color: #51AE32;
}

.NavigateButton {
  padding: 0 0;
  min-width: 5em;
  color: #51AE32;
  background-color: lightgreen;
}

.idInput {
  width: 100%;
}

.controlButtonTable {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-spacing: 0;
}

.ScanButton {
  padding: 0 0;
  width: 100%;
  color: #51AE32;
  background-color: lightgreen;
}

.ControlButtonSpacer {
  min-width: 3em;
  width: 100%;
}

.navigateDiv {
  padding-top: 1em;
  padding-bottom: 1em;
}
