.roomsearch {
  position:absolute;
  top:0.7em;
  left:4.7em;
  z-index: 1;
  background-color: #FFFFFF80;
  border-radius: 0.5em;
}

.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
#search-box{
  width: 200px;
  height: 20px;
}
