<div class="poicontrol" *ngIf="showControl">
  <button mat-raised-button [matMenuTriggerFor]="menuselectcontrol" class="poicontrolmenubutton">
     <!--<img class="poicontrolmenuIcon" src="{{selectedPoiType.iconurl}}" alt="{{selectedPoiType.name}}">-->
     <div  class="poicontrolmenuIcon {{selectedPoiType.iconclass}}" [style.background-color] = "selectedPoiType.color"> </div>
     <span class="poicontrolmenutext">{{selectedPoiType.name}}</span>
  </button>
  <mat-menu #menuselectcontrol="matMenu">
    <button mat-menu-item *ngFor="let poi of pois" (click)="onSelect(poi)" class="poicontrolmenubutton">
      <div  class="poicontrolmenuIcon {{poi.iconclass}}" [style.background-color] = "poi.color"> </div>
      <span class="poicontrolmenutext">{{poi.name}}</span>
    </button>
  </mat-menu>
</div>
