.poicontrol {
  position: absolute;
  top: 4.0em;
  left: 1.0em;
  z-index: 10;
  background-color: #FFFFFF80;
  font-size: medium;
}

.poicontrolmenubutton {
  background-color: #FFFFFFFF;
  border: medium medium;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  min-width: 6em;
  padding: 0;
}

.poicontrolmenutext {
  font-size: medium;
}

.poicontrolmenuIcon {
  margin-right: 0.2em;
}
