.poicontrol {
  position: absolute;
  top: 4.0em;
  left: 0.7em;
  z-index: 10;
  background-color: #FFFFFF80;
  font-size: medium;
}

.poicontrolmenubutton {
  background-color: #FFFFFFFF;
  border: medium medium;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  min-width: 6em;
  padding: 0;
  vertical-align: middle;
}

.poicontrolmenutext {
  font-size: medium;
  margin-right: 0.5em;
}

.poicontrolmenuIcon {
  color: white;
  margin: 0;
  padding: 0;
  margin-right: 0.2em;
  padding-top: 0.3em;
  margin-top: 0.3em;
  float: left;
  font-size: 1.4em;
  width: 1.45em;
  height: 1.25em;
  text-align: center;
  line-height: 1.25em;
  border-radius: 15%;
}
