/*
  controlBox
*/

#controlBox {
  left: 0;
  margin: 1em;
  position: absolute;
  top: 0;
  z-index: 15;
  background-color: white;
  text-align: left;
  border: medium medium;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}


/*
  controlBox Tabelle
*/

#controlBoxTable {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border: 1px solid silver;
  border-spacing: 0;
}

#controlBoxTableBody {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: small;
}


/*
  controlBox Suchzeile
*/

.controlBoxTableSearchRow {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-bottom: 2px;
  text-align: left;
  vertical-align: middle;
}


/*
  controlBox Ergebniszeilen
*/

.controlBoxTableResultRow {
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: left;
  vertical-align: middle;
}

.controlBoxCenterCol {
  padding: 0px;
  margin: 0px;
  border: 0px;
  min-width: 5em;
  width: 20em;
}

.resultBoxCenter {
  padding: 0px;
  margin: 0px;
  border: 0px;
  min-width: 5em;
  width: 17em;
}


/*
  Steuerelemente
*/

.searchInput {
  border: medium none;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  height: auto;
  width: 100%;
  z-index: 20;
  background-color: transparent;
  text-align: left;
  left: 0px;
  font-size: medium;
}

.searchInputRoutingSource {
  margin-top: 0px;
}

.searchInput:focus {
  outline-width: 0;
}

.searchInput::-webkit-input-placeholder {
  font-size: small;
}

.searchInput::-moz-placeholder {
  font-size: small;
}

.searchInput:-ms-input-placeholder {
  font-size: small;
}

.searchInput::-ms-input-placeholder {
  /* Edge */
  font-size: small;
}

.searchInput:-moz-placeholder {
  font-size: small;
}

.searchInput::placeholder {
  font-size: small;
}

.controlBoxButton {
  padding: 0 0;
  min-width: 3em;
  color: #51AE32;
}

.controlBoxResultButton {
  width: 100%;
  text-align: left;
  padding: 0;
}

.controlBoxHeaderSpacer {
  width: 100%;
  color: rgba(0, 0, 0, 0);
  height: 1px;
  background-color: black;
}

.controlBoxResultSpacer {
  width: 100%;
  color: rgba(0, 0, 0, 0);
  height: 1px;
  background-color: #51AE32;
}

.controlBoxRouteSpacer {
  margin-top: 2px;
  margin-bottom: 6px;
  width: 100%;
  color: rgba(0, 0, 0, 0);
  height: 1px;
  background-color: #51AE32;
}

.controlBoxResultText {
  white-space: normal;
  max-width: 18em;
  line-height: 1.8em;
  overflow: hidden;
  display:inline-block;
}

.routeImage {}

.controlBoxCenterColHorizontalImg {
  padding-top: 0.8em;
  margin-left: -0.3em;
  margin-right: 0.3em;
  height: 100%;
  float: left;
}

.controlBoxCenterColHorizontalSearch {
  overflow: hidden;
}
