<div id="controlBox" class="noprint">
  <table id="controlBoxTable">
    <tbody id="controlBoxTableBody">
      <tr class="controlBoxTableSearchRow">
        <td class="controlBoxLeftCol">
          <button class="controlBoxButton" (click)="openSideMenu()" md-button><md-icon>more_vert</md-icon></button>
        </td>
        <td class="controlBoxCenterCol">

          <div *ngIf="isRoutingSearchBox" class="controlBoxCenterColHorizontalImg">
            <img class="routeImage" src="assets/route_from_to.svg" alt="logo">
          </div>

          <div class="controlBoxCenterColHorizontalSearch">
            <input *ngIf="isRoutingSearchBox" class="searchInput" autocomplete="off" placeholder="Startpunkt..." mdInput [formControl]="startPointTerm" (focus)="startFocus()" (focusout)="startFocusOut()">
            <div *ngIf="isRoutingSearchBox" class="controlBoxRouteSpacer"></div>

            <input class="searchInput" [ngClass]="{'searchInputRoutingSource': isRoutingSearchBox }" autocomplete="off" placeholder="Suche Räume, Personen, Institute, ..." mdInput [formControl]="term" (focus)="searchFocus()" (focusout)="searchFocusOut()">
            <div class="controlBoxRouteSpacer"></div>
          </div>

        </td>
        <td class="controlBoxRightCol">
          <button *ngIf="!isRoutingSearchBox" class="controlBoxButton" (click)="showCurrentResult()" md-button><md-icon>search</md-icon></button>
          <button *ngIf="isRoutingSearchBox" class="controlBoxButton" (click)="closeBtnClicked()" md-button><md-icon>close</md-icon></button>
        </td>
      </tr>

      <tr *ngIf="showResults">
        <td colspan="3">
          <div class="controlBoxHeaderSpacer"></div>
        </td>
      </tr>

      <template ngFor let-result [ngForOf]="searchResults">
        <tr class="controlBoxTableResultRow" >
          <td class="controlBoxLeftResultCol">
            <button class="controlBoxButton" (click)="select(result)" md-button>
              <md-icon *ngIf="result.type == 0">room</md-icon>
              <md-icon *ngIf="result.type == 1">person</md-icon>
              <md-icon *ngIf="result.type == 2">group</md-icon>
            </button>
          </td>
          <td class="controlBoxCenterResultCol">
            <button class="controlBoxResultButton" (click)="select(result)" md-button>
              <span class="controlBoxResultText">{{result.text}}</span>
            </button>
          </td>
          <td class="controlBoxLeftResultCol">
            <button *ngIf="result.isStartPoint == false" class="controlBoxButton" (click)="routeClicked(result)" md-button><md-icon>navigation</md-icon></button>
          </td>
        </tr>
        <tr *ngIf="!result.lastElem">
          <td colspan="3">
            <div class="controlBoxResultSpacer"></div>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</div>
