<md-sidenav-container class="mainSideNavContainer">
  <md-sidenav #sidenav mode="over" opened="false" (close)="sideNavClosed()">
    <app-sidemenu (poiTypesChangedEvt)="poiTypesChanged($event)"></app-sidemenu>
  </md-sidenav>

  <app-olmap #mapComp (onShowRoute)="showRouteCalled($event)"
                      [currentFloor]="currentFloor">
  </app-olmap>
  <app-searchcontrol #searchBoxComp
                      (openSideMenuEvt)="openSideMenu($event)"
                      (roomSelectedEvt) = "roomSelected($event)"
                      (routeSelectedEvt) = "routeSelected($event)"
                      >
  </app-searchcontrol>
  <app-floorcontrol #floorComp (currentFloorEvt)="floorChanged($event)">
  </app-floorcontrol>
</md-sidenav-container>
<router-outlet></router-outlet>
