<app-olmap #mapComp (onShowRoute)="showRouteCalled($event)"
                    (onHighlightRouteLevels)="highlightRouteLevelsCalled($event)"
                    [currentFloor]="currentFloor">
</app-olmap>
<app-searchcontrol #searchBoxComp
                    (openSideMenuEvt)="openSideMenu($event)"
                    (roomSelectedEvt) = "roomSelected($event)"
                    (routeSelectedEvt) = "routeSelected($event)"
                    >
</app-searchcontrol>
<app-floorcontrol #floorComp
  (currentFloorEvt)="floorChanged($event)"
  (floorsReceivedEvt)="floorsReceived($event)"
  >
</app-floorcontrol>
<app-position #positionComp
  (newPositionEvent)="livePositionChanged($event)"
  (livePosActive)="livePosStatusChanged($event)"
  >
</app-position>

<app-sidemenu #sidenav (poiTypesChangedEvt)="poiTypesChanged($event)"></app-sidemenu>

<!--<router-outlet></router-outlet>-->
