<div class="dialogDiv">
  <input type="hidden" tabindex="0" autofocus/>

  <div *ngIf="currentRoom">
    <h3>
      {{currentRoom.title}}
    </h3>
    <p>
      {{currentRoom.code}}
    </p>
    <p>
      Organistation:<br/>{{currentRoom.coOrganization}}
    </p>
    <a href="{{currentRoom.medonlineurl}}" target="_blank">MedOnline</a>
  </div>

  <button class='closeDialogButton' (click)="closeDialog()" md-button>
    <md-icon>close</md-icon>
  </button>

  <button class='NavigateButton' (click)="navigateTo()" md-button>
    <span>Zeige Route</span>
    <md-icon>navigation</md-icon>
  </button>
</div>
