<div *ngIf="currentRoom" class="dialogDiv">
  <input type="hidden" tabindex="0" autofocus/>

  <div *ngIf="currentRoom">
    <h3>
      {{currentRoom.title}}
    </h3>
    <p>
      {{currentRoom.code}}
    </p>
    <p *ngIf="!currentRoom.virtualAddress">
      Organistation:<br/>{{currentRoom.coOrganization}}
    </p>
    <p *ngIf="!currentRoom.virtualAddress && !inAppMode">
      <a   href="{{currentRoom.mapUrl}}" target="_blank"
            title="Verwenden Sie diesen Link wenn Sie die Position des Raumes weiterschicken möchten.">Link teilen</a>
    </p>
    <p *ngIf="!currentRoom.virtualAddress">
      <a href="{{currentRoom.medonlineurl}}" target="_blank"
        title="Öffnet die Raum-Detailansicht in MEDonline">MEDonline</a>
    </p>
  </div>

  <button class='closeDialogButton' (click)="closeDialog()" md-button>
    <md-icon>close</md-icon>
  </button>

  <button *ngIf="!currentRoom.virtualAddress" class='NavigateButton' (click)="navigateTo()" md-button>
    <span>Zeige Route</span>
    <md-icon>navigation</md-icon>
  </button>
</div>
