.dialogDiv {
  position: relative;
}

.closeDialogButton {
  position: absolute;
  top: -42px;
  right: -22px;
  padding: 0 0;
  min-width: 3em;
  color: #51AE32;
}

.NavigateButton {
  position: absolute;
  bottom: -22px;
  right: -22px;
  padding: 0 0;
  min-width: 3em;
  color: #51AE32;
}
