<div class="dialogDiv">

  <h2>
    Hörsaal 5
  </h2>
  <p>
    MC1.A.EG.004
  </p>
  <p>
    Organisation: Abteilung Studienorganisation und Lernen mit Medien
  </p>
  <a href="https://online.medunigraz.at/mug_online/wbRaum.editRaum?pRaumNr=20828" target="_blank">MedOnline</a>


  <button class='closeDialogButton' (click)="closeDialog()" md-button>
    <md-icon>close</md-icon>
  </button>

  <button class='NavigateButton' (click)="navigateTo()" md-button>
    <span>Zeige Route</span>
    <md-icon>navigation</md-icon>
  </button>
</div>
