<div #mapDiv id="map" class="map" tabindex="0">

  <div #roomPopup id="roomPopup" class="ol-popup">
    <div class="popup-content"><button (click)="openRoomDialog()" class="popup-button" md-button><span #roomPopupText class="popup-content-span"></span></button></div>
    <button class="closePopupButton" (click)="closePopup()" md-button>
      <md-icon>close</md-icon>
    </button>
  </div>


    <div #levelPopups  class="level-ol-popups_parent">
      <div *ngFor="let levelOverlay of routeLevelOverlays">
        <div  class="level-ol-popup">
          <div class="popup-content">
            <div class="levelOverlayIcon"></div>
            <div class="levelOverlayIconArrow icon-pfeil_oben"></div>
            <span class="level-popup-content-span">{{levelOverlay.text}}</span>
          </div>
        </div>
      </div>
    </div>

</div>
