/*
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*
  Global
*/

html, body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.level-popup-content-span[_ngcontent-c1]:hover {
  cursor: pointer;
  text-decoration: underline;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
